<h1 class="page-title">プロフィールページ</h1>

<div class="user-container-show">
  <h3 class="user-form-title">プロフィール</h3>

  <% if @user.image? %>
    <%= image_tag @user.image.url %>
  <% else %>
    <%= image_tag avatar_url(current_user), class: "user-image", alt: "ユーザーアイコン" %>
  <% end %>

  <%= form_for :user, url: users_edit_url(@user), action: :update, method: :post do |f| %>
    <div class="file">
      <label class="button is-primary avatar-upload">
        <%= f.file_field :avatar, accept: 'image/jpeg,image/gif,image/png', class: "file-input", onchange: "this.form.submit();" %>
        <i class="fas fa-upload"></i>アイコン画像の更新
      </label>
    </div><br />
  <% end %>

  <div class="field user-element">
    <span>アカウント名</span>
    <span><%= @user.full_name %></span>
  </div>
  <div class="field user-element">
    <span>自己紹介</span>
    <span><%= @user.introduction %></span>
    <%= form_for :user, url: users_edit_url(@user), action: :update, method: :post do |f| %>
      <p><%= f.text_area :introduction, class: "intro-form" %></p>
      <p><%= f.submit "自己紹介の更新", class: "button is-danger" %></p>
    <% end %>
  </div>
  <div class="field">
    <p><%= link_to "戻る", :back, class: "user-link-btn" %></p>
  </div>
</div>
