<h1 class="page-title">アカウント情報ページ</h1>
<div class="user-container-show">
  <h3 class="user-form-title">アカウント</h3>
  <tr>
    <th>ID</th>
    <td><%= @user.id %></td>
  </tr><br /><br />
  <tr>
    <th>アカウント名</th>
    <td><%= @user.full_name %></td>
  </tr><br /><br />
  <tr>
    <th>メールアドレス</th>
    <td><%= @user.email %></td>
  </tr><br /><br />
  <div>
    <p><%= link_to "編集ページへ", edit_user_registration_path, class: "submit-btn btn-sub btn-op" %></p><br />
    <p><%= link_to "プロフィールページへ", "/users/#{@current_user.id}/info" , class: "submit-btn btn-sub btn-op" %></p>
    <p><%= link_to "戻る", :back, class: "user-link-btn sub-op" %></p>
  </div>
</table>
