<h1 class="page-title">予約済みルーム一覧</h1>
<h2 class="room-counter">予約件数は<%= @reserve_counter %>件です</h2>
<table class="room-table">
  <div class="room-regi-container">
    <thead>
      <tr>
        <th>ルーム画像</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>予約人数</th>
        <th>合計金額</th>
        <th>チェックイン日</th>
        <th>チェックアウト日</th>
        <th>予約確定日時</th>
        <th>取消</th>
      </tr>
    </thead>
    <tbody>
      <% @user.reservations.each do |reservation| %>
        <tr>
          <td><a href =<%= "/rooms/#{reservation.room.id}/show" %>><%= image_tag avatar_url(reservation.room), class: "room-regi" %></a></td>
          <td><%= link_to reservation.room.room_name, "/rooms/#{reservation.room.id}/show" %></td>
          <td><%= reservation.room.description %></td>
          <td><%= reservation.people_number %></td>
          <td><%= reservation.total_price %></td>
          <td><%= reservation.start_date %></td>
          <td><%= reservation.end_date %></td>
          <td><%= reservation.created_at.to_s(:datetime_jp) %></td>
          <td><%= link_to "取消", reservation, method: :delete, data: {confirm: "この予約を取り消しますか？"} %></td>
        </tr>
      <% end %>
    </tbody>
  </div>
</table>
<h3><%= link_to "ルーム新規登録", "/rooms/new", class: "submit-btn btn-sub btn-op" %></h3>
