<h1 class="page-title">予約済みルーム一覧</h1>
<h2 class="room-counter">予約件数は<%= @rese_rooms %>件です</h2>

<table class="room-table">
  <div class="room-regi-container">
    <thead>
      <tr>
        <th>ルーム画像</th>
        <th>ルーム名</th>
        <th>ルーム紹介</th>
        <th>合計金額</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>予約確定日時</th>
        <th>キャンセル</th>
      </tr>
    </thead>
    <tbody>
      <% @reservations.each do |reservation| %>
        <tr>
          <td><a href =<%= "/rooms/#{@room.id}/show" %>><%= image_tag avatar_url(@room), class: "room-regi" %></a></td>
          <td><%= link_to @room.room_name, "/rooms/#{@room.id}/show" %></td>
          <td><%= @room.description %></td>
          <td><%= @room.price %></td>
          <td><%= reservation.start_date %></td>
          <td><%= reservation.end_date %></td>
          <td><%= reservation.created_at.to_s(:datetime_jp) %></td>
          <td><%= link_to "キャンセル", reservation, method: :delete, data: {confirm: "この予約をキャンセルしますか？"} %></td>
        </tr>
      <% end %>
    </tbody>
  </div>
</table>
<h3><%= link_to "ルーム新規登録", "/rooms/new", class: "submit-btn btn-sub btn-op" %></h3>
