<h1 class="page-title">予約確認ページ</h1>
<div class="reserve-container">
  <div class="room-form-title">予約済み</div>
    <div class="field">
      <span class="reserve-element">予約ID</span>
      <span><%= @reservation.id %></span>
    </div>
    <div class="field">
      <span class="reserve-element">ルーム名</span>
      <span><%= @reservation.room.room_name %></span>
    </div>
    <div class="field">
      <span class="reserve-element">住所</span>
      <span><%= @reservation.room.address %></span>
    </div>
    <div class="field">
      <span class="reserve-element">チェックイン日時</span>
      <span><%= @reservation.start_date.strftime('%Y年 %m月 %d日 %H時 %M分') %></span>
    </div>
    <div class="field">
      <span class="reserve-element">チェックアウト日時</span>
      <span><%= @reservation.end_date.strftime('%Y年 %m月 %d日 %H時 %M分') %></span>
    </div>
    <div class="field">
      <span class="reserve-element">人数</span>
      <span><%= @reservation.people_number %></span>
    </div>
    <div class="field">
      <span class="reserve-element">合計金額</span>
      <span><%= @reservation.total_price %></span>
    </div>
    <div class="field">
      <span class="reserve-element">予約確定日時</span>
      <span><%= @reservation.created_at.to_s(:datetime_jp) %></span>
    </div>
    <div class="field">
      <%= link_to "予約一覧ページへ", "/reservations", class: "submit-btn btn-sub btn-op" %>
    </div>
  </div>
</div>
