<h1 class="page-title">ルーム登録ページ</h1>

<%= render "shared/error", obj: @room %>

<div class="room-container">
  <div class="room-form-title">ルーム登録</div>
    <%= form_with model: @room do |f| %>
      <table class="form-table">
        <tr>
          <th><%= f.label :room_name ,"ルーム名(必須)", class: "room-element" %></th>
          <td><%= f.text_field :room_name, class: "room-element-form", :placeholder => "ルーム名を入力" %></td>
        </tr>
        <tr>
          <th><%= f.label :address ,"住所(必須)",class: "room-element"  %></th>
          <td><%= f.text_field :address, class: "room-element-form", :placeholder => "住所を入力" %></td>
        </tr>
        <tr>
          <th><%= f.label :price ,"価格(必須)", class: "room-element" %></th>
          <td><%= f.text_field :price, class: "room-element-form", :placeholder => "１日あたりの料金を入力" %></td>
        </tr>
        <tr>
          <th><%= f.label :description ,"詳細(必須)", class: "room-element" %></th>
          <td><%= f.text_area :description, class: "room-element-form room-text", :placeholder => "ルーム説明を入力" %></td>
        </tr>
        <tr>
          <th><%= f.label :avatar ,"ルーム画像(必須)", class: "room-element" %></th>
          <td><%= f.file_field :avatar, accept: 'image/jpeg,image/gif,image/png' %></td>
        </tr>
      </table>
      <div><%= f.submit "登録する", class: "room-submit-btn" %></div>
      <div><%= link_to "戻る", :back, class: "room-link-btn" %></div>
    <% end %>
  </div>
</div>
