<% if @regi_rooms == 0 %>
  <div class="intro-container">
    <h1 class="app-intro"><%= @user.full_name %>さんも自慢のお部屋を登録して</br>素敵なシェアライフを楽しみましょう！</h1>
  </div>
  <h3><%= link_to "早速ルームを登録してみる！", "/rooms/new", class: "app-intro-btn" %></h3>
<% else %>
  <h1 class="page-title">登録済みルーム一覧</h1>
  <h2 class="room-counter"><%= @user.full_name %>さんが登録したルームは<strong class="emphasis"><%= @regi_rooms %></strong>部屋、全ユーザーが登録したルーム数は<strong class="emphasis"><%= @total_rooms %></strong>部屋です。</h2>
    <table class="room-table">
      <div class="room-regi-container">
        <thead>
          <tr>
            <th class="table-title">ルーム画像</th>
            <th>ルーム名</th>
            <th>住所</th>
            <th>ルーム紹介</th>
            <th>1泊当たりの金額</th>
            <th>登録日</th>
          </tr>
        </thead>
        <tbody>
          <% @rooms.each do |room| %>
            <tr>
              <td class="room-regi"><a href =<%= "/rooms/#{room.id}/show" %>><%= image_tag avatar_url(room), class: "room-regi" %></a></td>
              <td><%= link_to room.room_name, "/rooms/#{room.id}/show" %></td>
              <td><%= room.address %></td>
              <td><%= room.description %></td>
              <td><%= room.price %>円</td>
              <td><%= room.created_at.to_s(:datetime_jp) %></td>
            </tr>
          <% end %>
        </tbody>
      </div>
    </table>
  <h3><%= link_to "ルーム新規登録", new_room_path, class: "submit-btn btn-sub btn-op btm" %></h3>
<% end %>
