<h1 class="page-title">ルーム詳細ページ</h1>
<div class="room-container">
  <div class="room-form-title">ルーム情報詳細</div>
    <table class="form-table">
      <tr class="room-element">
        <th>ルーム番号</th>
        <td><%= @room.id %></td>
      </tr>
      <tr class="room-element">
        <th>ルーム名</th>
        <td><%= @room.room_name %></td>
      </tr>
      <tr class="room-element">
        <th>住所</th>
        <td><%= @room.address %></td>
      </tr>
      <tr class="room-element">
        <th>１泊当たりの価格</th>
        <td><%= @room.price %>円</td>
      </tr>
      <tr class="room-element">
        <th>イメージ画像</th>
        <td><%= image_tag avatar_url(@room), class: "room-show" %></td>
      </tr>
      <tr class="room-element">
        <th>登録ユーザーのID(確認用)</th>
        <td><%= @room.user_id %></td>
      </tr>
      <tr class="room-element">
        <th>詳細</th>
        <td><%= @room.description %></td>
      </tr>
    </table>
    <div><%= link_to "戻る", :back, class: "room-link-btn" %></div>
  </div>
</div>

<div class="reserve-container height-add">
  <div class="room-form-title">ルーム予約<span class="small-str">(全欄必須)</span></div>
    <%= form_with url: new_reservation_path, method: :post, class: 'room-show-formwith' do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.hidden_field :total_price, value: @room.price %> <%# ここで@reservation.total_price = @room.priceとしておく %>
      <%= f.hidden_field :price, value: @room.price %>
      <div class="field">
        <span><%= f.label :start_date ,"チェックイン日時(明日以降)", class: "reserve-element" %></span>
        <span><%= f.datetime_field :start_date, class: "reserve-element-form", required: true, value: Time.current.strftime('%Y-%m-%dT00:00:00') %></span>
      </div>
      <div class="field">
        <th><%= f.label :end_date ,"チェックアウト日時(明後日以降)", class: "reserve-element" %></th>
        <td><%= f.datetime_field :end_date, class: "reserve-element-form", required: true, value: Time.current.strftime('%Y-%m-%dT00:00:00') %></td>
      </div>
      <div class="field">
        <th><%= f.label :people_number ,"人数(8名まで)", class: "reserve-element" %></th>
        <td><%= f.number_field :people_number, class: "reserve-element-form", required: true, in: 1..8 %></td>
      </div>
      <div class="field"><%= f.submit "予約する", class: "submit-btn reserve-btn btm" %></div>
    <% end %>
  </div>
</div>
