<h1 class="page-title">ルーム詳細ページ</h1>
<div class="room-container">
  <div class="room-form-title">ルーム情報詳細</div>
    <table class="form-table">
      <tr>
        <th>ルーム番号</th>
        <td><%= @room.id %></td>
      </tr>
      <tr>
        <th>ルーム名</th>
        <td><%= @room.room_name %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= @room.address %></td></tr>
      <tr>
        <th>１日当たりの価格</th>
        <td><%= @room.price %></td>
      </tr>
      <tr>
        <th>イメージ画像</th>
        <td><%= image_tag avatar_url(@room), class: "room-show" %></td>
      </tr>
      <tr>
        <th>登録ユーザーのID(確認用)</th>
        <td><%= @room.user_id %></td>
      </tr>
      <tr>
        <th>詳細</th>
        <td><%= @room.description %></td>
      </tr>
    </table>
    <div><%= link_to "ルームを削除する", @room, method: :delete, data: {confirm: "本当に削除しますか？"}, class: "danger-btn btn-op btn-sub" %></div>
    <div><%= link_to "戻る", :back, class: "room-link-btn sub-op" %></div>
  </div>
</div>

<div>
  <%= form_with url: new_reservation_path, method: :post do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :room_id, value: @room.id %>
    <%= f.label :start_date ,"開始日" %>
    <%= f.date_field :start_date %>
    <%= f.label :end_date ,"終了日" %>
    <%= f.date_field :end_date %>
    <%= f.label :people_number ,"人数" %>
    <%= f.text_field :people_number %>
    <%= f.submit "予約する", class: "submit-btn" %>
  <% end %>
</div>
